@import "../../util/variable.scss";

.dark {
  .chat-view {
    border-color: $gray-800;
  }
}

.chat-view {
  @extend %row-nowrap;
  width: 100vw;
  max-width: 59.25rem;
  border-left: 1px solid $gray-50;
  border-right: 1px solid $gray-50;
  overflow: hidden;
}