$primary-color: #00d0ff;
$black: #000;
$white: #fff;
$gray-300: mix($black, $white, 30);
$gray-200: mix($black, $white, 20);
$gray-100: mix($black, $white, 10);

%row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

%col-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.font-inter {
  font-family: 'Roboto Mono', monospace;
}

.text-light {
  font-size: .9375rem;
  line-height: 1.3125;
}

.top-29 {
  top: 7.5rem;
}

.w-144 {
  width: 36rem;
}

.w-148 {
  width: 37rem;
}

.-mt-15 {
  margin-top: -3.75rem;
}

.min-h-64 {
  min-height: 16rem;
}
