$primary-color: #60a5fa;
$black: #000;
$white: #fff;
$dark-theme: #1b1b1b;
$light-theme: #fffefb;
$gray-900: mix($black, $white, 90);
$gray-800: mix($black, $white, 80);
$gray-700: mix($black, $white, 70);
$gray-600: mix($black, $white, 60);
$gray-500: mix($black, $white, 50);
$gray-400: mix($black, $white, 40);
$gray-300: mix($black, $white, 30);
$gray-200: mix($black, $white, 20);
$gray-100: mix($black, $white, 10);
$gray-50: mix($black, $white, 5);
$gray-25: mix($black, $white, 2.5);

$red: #ff0000;
$red-800: mix($red, $white, 80);
$red-700: mix($red, $white, 70);
$red-600: mix($red, $white, 60);
$red-500: mix($red, $white, 50);
$red-400: mix($red, $white, 40);
$red-300: mix($red, $white, 30);
$red-200: mix($red, $white, 20);
$red-100: mix($red, $white, 10);
$red-50: mix($red, $white, 5);
$red-25: mix($red, $white, 2.5);

%row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

%col-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.font-inter {
  font-family: 'Roboto Mono', monospace;
}

.bg-dark {
  background-color: $dark-theme;
}

.bg-primary-color {
  background-color: $primary-color;
}

.text-primary-color {
  color: $primary-color;
}

.text-light {
  font-size: .9375rem;
  line-height: 1.3125;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.z-200 {
  z-index: 200;
}

.top-29 {
  top: 7.5rem;
}

.w-144 {
  width: 36rem;
}

.w-148 {
  width: 37rem;
}

.-mt-15 {
  margin-top: -3.75rem;
}

.min-h-64 {
  min-height: 16rem;
}

.blurred-image {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($black, .2);
    backdrop-filter: blur(4rem);
  }
}

.unblurred-image {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    background-color: rgba($black, 0);
    backdrop-filter: blur(0);
  }
}

@media only screen and (max-width: 768px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) {
  .mobile-only {
    display: none !important;
  }
}