@import '../../util/variable';

.dark {
  .public-DraftEditorPlaceholder-root {
    color: $gray-700;
  }

  .editor {
    &__post-menu {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.public-DraftEditorPlaceholder-root {
  position: relative;
  z-index: 100;
  color: $gray-300;
}

.public-DraftEditorPlaceholder-inner {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

div.DraftEditor-root {
  @extend %col-nowrap;
  flex: 1 1 auto;
  overflow-y: auto;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  @extend %col-nowrap;
  flex: 1 1 auto;
  position: relative;
  height: 100%;
  z-index: 200;
}

.public-DraftStyleDefault-block {
  overflow: hidden;
  padding-bottom: 2px;
  padding-top: 2px;
  position: relative;
  white-space: pre-wrap;
}

.editor {
  div.DraftEditor-root {
    padding: 0.75rem 0.5rem;
    cursor: text;
  }

  &__wrapper {
    flex: 1 1 auto;
    //width: 0;

    .moderation-btn {
      //display: none;
      margin-bottom: 0.5rem;
    }

    //&:focus-within {
    //  .moderation-btn {
    //    display: flex;
    //  }
    //}
  }

  &__button {
    @extend %row-nowrap;
    //color: $gray-200;
    height: 2rem;
    cursor: pointer;
    font-size: 0.9375rem;
    align-content: center;
    justify-content: center;
    border-radius: 50%;

    i {
      align-self: center;
    }
  }

  &__post-menu {
    cursor: default !important;
    &:hover {
      background-color: $white;
    }
  }

  &__submit-btn {
    @extend %row-nowrap;
    padding: 0;
    font-size: 0.875rem;
    height: 2rem;
    min-width: 2rem;

    &:hover,
    &:active {
      background-color: $primary-color;
    }

    &__wrapper {
      @extend %row-nowrap;
      align-items: center;
      justify-content: center;
      height: 100%;

      &__text {
        @extend %row-nowrap;
        align-items: center;
        padding: 0 1rem;
        border-radius: 0.75rem;
        height: 100%;

        &:hover {
          background-color: lighten($primary-color, 5);
        }

        &:active {
          background-color: darken($primary-color, 5);
        }
      }

      .menuable {
        @extend %row-nowrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 0.5rem;
        border-left: 1px solid rgba($white, 0.5);
        border-top-right-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;

        &:hover {
          background-color: lighten($primary-color, 5);
        }

        &:active {
          background-color: darken($primary-color, 5);
        }

        &__menu {
          right: calc(100% + -1.5rem);
          left: auto;
          top: calc(100% - 0.25rem);
        }
      }
    }
  }
}

.reply-editor {
  .editor__submit-btn {
    .menuable {
      &__menu {
        top: auto;
        bottom: 2.75rem;
      }
    }
  }
}

.dark {
  .editor {
  }
}
