@import "../../util/variable";

.public-DraftEditorPlaceholder-root {
  position: relative;
  z-index: 100;
  color: $gray-300;
}

.public-DraftEditorPlaceholder-inner {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

div.DraftEditor-root {
  @extend %col-nowrap;
  flex: 1 1 auto;
  overflow-y: auto;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  @extend %col-nowrap;
  flex: 1 1 auto;
  position: relative;
  height: 100%;
  z-index: 200;
}

.public-DraftStyleDefault-block {
  overflow: hidden;
  padding-bottom: 2px;
  padding-top: 2px;
  position: relative;
  white-space: pre-wrap;
}

.editor {
  div.DraftEditor-root {
    padding: .75rem 0;
    cursor: text;
  }

  &__wrapper {
    flex: 1 1 auto;
    width: 0;
  }

  &__button {
    @extend %row-nowrap;
    //color: $gray-200;
    height: 2rem;
    cursor: pointer;
    font-size: .9375rem;
    align-content: center;
    justify-content: center;
    border-radius: 50%;

    i {
      align-self: center;
    }
  }
}