@import '../../util/variable';

.dark {
  .textarea-group {
    background: $dark-theme;
    &__label {
      color: $gray-200;
      background: $dark-theme;
    }
  }
}

.textarea-group {
  @extend %col-nowrap;

  &__label {
    background: white;
    display: inline-block;
    top: -0.625rem;
    width: fit-content;
    font-size: 12px;
    padding: 0 0.25rem 0 0.1875rem;
    margin-left: 0.625rem;
    position: absolute;
  }

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 0.5rem 0.75rem;
    outline: none;
    background-color: transparent;

    &::placeholder {
      color: $gray-200;
    }
  }
}
