@import "../../util/variable";

.profile-view {
  width: 36.25rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }

  &__data-group + &__data-group {
    margin-left: 1rem;
  }

  &__menu {
    left: auto;
    right: 0;
  }

  &__menu-btn {
    &:hover {
      color: $primary-color;
    }

    &--active {
      color: $primary-color;
      box-shadow: inset 0px -0.125rem 0px 0px  $primary-color;
    }
  }
}