@import "../../util/variable";

.top-nav {
  &__icon {
    height: 2rem;
    width: 2rem;
    border-radius: .5rem;
    transition: background-color 100ms ease-in-out,
      color 100ms ease-in-out;

    &:hover {
      //background: rgba($primary-color, .15);
      color: $primary-color;
    }

    &--selected {
      //background: rgba($primary-color, .15);
      color: $primary-color;
    }

    &--disabled {
      color: $gray-100;

      &:hover,
      &:active {
        background: transparent;
        color: $gray-100;
      }
    }
  }

  &__icon + &__icon {
    margin-left: .25rem;
  }

  &__back-icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: background-color 100ms ease-in-out,
    color 100ms ease-in-out;

    &:hover {
      background: rgba($primary-color, .15);
      color: $primary-color;
    }
  }

  &__web3-btn {
    .web3-button__unlock-menu {
      width: 15rem;
      position: fixed !important;
      margin-top: .5rem !important;
      top: 58px !important;
      right: 16px !important;
      left: auto !important;
    }

  }
}

@media only screen and (max-width: 768px) {
  .top-nav {
    height: 3.3125rem;
  }

  .post-header-group {
    height: 3.25rem;
    margin: 0;

    .top-nav {
      &__back-icon {
        i {
          font-size: .75rem !important;
        }
      }

      &__text-title {
        font-size: 1rem;
      }
    }
  }

  .profile-header-group {
    height: 3.25rem;
    margin: 0;

    .top-nav {
      &__back-icon {
        i {
          font-size: .75rem !important;
        }
      }
    }

    &__title-group {
      padding-top: .25rem;
      padding-bottom: .25rem;
    }

    &__title {
      font-size: 1rem;
      line-height: 1.5;
    }

    &__subtitle {
      font-size: .75rem;
    }
  }

  .tag-header-group {
    height: 3.25rem;
    margin: 0;

    .top-nav {
      &__back-icon {
        i {
          font-size: .75rem !important;
        }
      }
    }

    &__tag-text {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}