@import '../../util/variable';

.moderation-btn {
  border-radius: 1rem;
  transition: background-color 200ms ease-in-out;
  width: fit-content;
  padding: 0.25rem 0.7rem;

  &__label {
    @media only screen and (max-width: 768px) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 12rem;
    }
  }

  &__reply-option {
    cursor: pointer;

    .icon {
      @extend %row-nowrap;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      width: 1.875rem;
      height: 1.875rem;
    }
  }
}

.moderation-modal {
  width: 30rem;

  @media only screen and (max-width: 768px) {
    display: flex;
    flex-flow: column nowrap;
    height: 18rem;
    width: 100%;
    margin: 0;
    position: fixed;
    bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .modal__content {
      flex: 1 1 auto;
      height: 100%;
      max-height: 100% !important;
    }
  }
}
