@import "../../util/variable";

.post-view {
  max-width: 37.25rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
}