@import '~/variable';

.global-feed {
  width: 36.25rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }

  .editor {
    @media only screen and (max-width: 768px) {
      border: none !important;
      border-bottom: 1px solid $gray-100 !important;
      border-radius: 0 !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .global-feed {
    margin: 0;
  }

  .dark {
    .editor {
      border-bottom: 1px solid $gray-800 !important;
    }
  }
}
