@import "../../util/variable";

.post-view {
  width: 36.25rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
}

@media only screen and (max-width: 768px) {
  .post-view {
    margin: 0;
    padding: 0;

    &__container {
      border: 0;
    }
  }
}