@import "../../util/variable";

.notif-box {
  background-color: rgba($primary-color, .1);
  border: 1px solid rgba($primary-color, .5);
  color: darken($primary-color, 10);
  border-radius: .75rem;
  font-size: .875rem;
  padding: .75rem 1rem;
}