@import '~/variable';

.dark {
  .menuable {
    &__menu {
      background-color: $black;
      color: $white;
    }
  }
}
.menuable {
  position: relative;

  &__menu {
    position: absolute;
    margin-top: 0.5rem;
    top: 100%;
    left: 0;
    background-color: $white;
    border-radius: 0.75rem;
    padding: 0.5rem 0;
    z-index: 400;

    &__item {
      @extend %row-nowrap;
      align-content: center;
      padding: 0.5rem 1rem;
    }
  }

  &--active {
    &:after {
      content: '';
      width: 100vw;
      height: 100vh;
      position: fixed;
      z-index: 300;
      top: 0;
      left: 0;
    }
  }
}

.block-user-item {
  .menuable__menu__item__label {
    color: $red-400;

    &:hover {
      color: $red-800;
    }
  }
}
