@import '~/variable';

.dark {
  .checkbox {
    &__wrapper {
      input[type='checkbox']:checked + div {
        border: 1px solid $gray-400;
      }

      input[type='checkbox']:checked + div:before {
        background-color: $gray-200;
      }
    }
  }
}
.checkbox {
  &__wrapper {
    position: relative;
    height: 1rem;
    width: 1rem;

    input[type='checkbox'] {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      z-index: 200;
      height: 100%;
      width: 100%;
      opacity: 0;

      &:hover + div {
        border: 1px solid $gray-400;
      }
    }

    input[type='checkbox'] + div {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      border-radius: 0.25rem;
      border: 1px solid $gray-200;
      position: absolute;
    }

    input[type='checkbox']:checked + div {
      border: 1px solid $gray-600;
    }

    input[type='checkbox']:checked + div:before {
      content: '';
      transform-origin: bottom left;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      position: absolute;
      top: 2px;
      left: 2px;
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      background-color: $gray-800;
    }

    input[type='checkbox']:disabled {
      cursor: default;

      &:hover + div {
        border: 1px solid $gray-200;
      }
    }

    input[type='checkbox']:disabled + div {
      opacity: 0.5;
      background-color: $gray-100;
    }
  }

  &__description {
    margin-left: 0.5rem;
  }
}
