@import "../../util/variable";

html {
  font-size: 16px;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#root, body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.dark.app {
  background-color: $dark-theme;
}

//:root {
//  color-scheme: dark;
//}

.app {
  background-color: $light-theme;

  &__content {
    margin: 0 auto;
    overflow-y: auto;
    flex: 1 1 auto;

    @media only screen and (max-width: 768px) {
      margin-bottom: 3.25rem;
    }
  }

  &__meta-content {
    overflow-y: auto;
    padding-bottom: 4rem;

    &::-webkit-scrollbar {
      display: none !important;
    }

    &__footer {
      @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
      }
    }
  }
}

ol {
  list-style: auto;
}

ul {
  list-style: disc;
}

li {
  margin-left: 2rem;
  padding-left: .5rem;
}

a {
  color: $primary-color;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 768px) {
  .app {
    &__content {
      width: 100%;
    }
  }
}