@import "../../util/variable";

.post {
  position: relative;
  transition: border-color 150ms ease-in,
  background-color 150ms ease-in-out;

  &__footer {
    margin-left: -.3125rem;
  }

  &__parent-line {
    position: absolute;
    width: 2px;
    background-color: #cccccc;
    height: calc(100% - 2.25rem);
    left: 2.375rem;
    top: 4.25rem;
  }

  &__menu {
    height: fit-content;

    .menuable__menu {
      left: auto;
      right: 0;
    }
  }

  &__fade-out {
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  }
}

.post-button {
  color: rgba($black, .5);
  height: 2rem;
  font-size: .9375rem;

  .icon {
    @extend %row-nowrap;
    align-content: center;
    justify-content: center;
    border-radius: 50%;

    i {
      align-self: center;
    }

    //&:hover {
    //  background-color: rgba($primary-color, .1);
    //  color: $primary-color;
    //}
  }
}

.post-button + .post-button {
  margin-left: 2rem;
}

.reply-editor {
  .editor__wrapper {
    min-height: 15rem;
  }

  @media only screen and (max-width: 768px) {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .post {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;

    &__creator-name {
      overflow: hidden;
      white-space: nowrap;
    }

    &__creator-username {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__timestamp {
      flex: 0 0 auto;
    }

    &__menu {
      margin-left: 1rem;
    }

    &:last-of-type {
      border-bottom: 1px solid $gray-100;
    }
  }

  .post + .post {
    border-top: 1px solid $gray-100;
  }


  .thread__content{
    .thread > .post {
      border-left: .25rem solid $gray-100;

      &:hover {
        border-color: $gray-400;
      }
    }
  }

  .parent-post {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }

  .thread:last-of-type {
    border-bottom: 1px solid $gray-100;
  }
}

.reply-modal {
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0;
    border-radius: 0;

    .modal__content {
      flex: 1 1 auto;
      height: 100%;
      max-height: 100% !important;
    }
  }
}