@import "../../util/variable";

.post {
  position: relative;
  transition: box-shadow 150ms ease-in-out,
  background-color 150ms ease-in-out;

  &__footer {
    margin-left: -.3125rem;
  }

  &__parent-line {
    position: absolute;
    width: 2px;
    background-color: #cccccc;
    height: calc(100% - 2.25rem);
    left: 2.375rem;
    top: 4.25rem;
  }
}

.post-button {
  color: rgba($black, .5);
  height: 2rem;
  cursor: pointer;
  font-size: .9375rem;

  .icon {
    @extend %row-nowrap;
    align-content: center;
    justify-content: center;
    border-radius: 50%;

    i {
      align-self: center;
    }

    //&:hover {
    //  background-color: rgba($primary-color, .1);
    //  color: $primary-color;
    //}
  }
}

.post-button + .post-button {
  margin-left: 2rem;
}