@import "../../util/variable";

.post {
  transition: box-shadow 150ms ease-in-out,
  background-color 150ms ease-in-out;

  &__footer {
    margin-left: -.3125rem;
  }
}

.post-button {
  color: rgba($black, .5);
  height: 2rem;
  cursor: pointer;
  font-size: .9375rem;

  .icon {
    @extend %row-nowrap;
    align-content: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    padding: .3125rem;
    border-radius: 50%;

    i {
      align-self: center;
    }

    &:hover {
      background-color: rgba($primary-color, .1);
      color: $primary-color;
    }
  }
}

.post-button + .post-button {
  margin-left: 2rem;
}